{% extends "DjangoApp/base.html" %}
{% load static %}

{% block titulo %}k0lst0m13r-bl0g{% endblock %}


{% block contenido %}


    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">



        <div class="section-title my-3">
            <h2>Blog</h2>
        </div>

        <div class="entry">
          <div class="section-title my-3">
                <h1>Ponete al día con el mundo de la Informática</h1>
            </div>
            <div class="entry-img">
              <img src="{% static 'DjangoApp/assets/img/features-1.svg' %}" alt="" class="img-fluid">
          </div>
        </div>
             {% if user.is_authenticated %}
                {% if user.username == "admin" %}
           <div class="section-title my-3">
              <div class="entry">
                <div class="d-grid gap-2">
                  <a href="{% url 'crearPost' %}"><h3>Crear Post</h3></a>
               </div>
            </div>
          </div>
                {% endif %}
            {% endif %}


             {% for ent in  post %}

            <article class="entry">

              <h2 class="entry-title">
                <a href="{% url 'blogSingle' ent.id %}">{{ent.titulo}}</a>
              </h2>

             <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">{{ent.autor}}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="2020-01-01">{{ent.fecha}}</time></a></li>
                  <!--li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">12 Comments</a></li-->

                </ul>
              </div>

              <div class="entry-content">
                <p>

                </p>
                <div class="read-more">
                  <a href="{% url 'blogSingle' ent.id %}">Leer mas</a>
                </div>
              </div>

            </article><!-- End blog entry -->
            {% endfor %}





      </div>
    </section><!-- End Blog Section -->

{% endblock %}
