{% extends "DjangoApp/base.html" %}

{% load static %}

{% block titulo %}k0lst0m13r-l0g1n{% endblock %}

{% block contenido %}

<section class="features">
        <div class="container">
            <div class="row" data-aos="fade-up">
                <div class="section-title">
                    <h2>Portfolio</h2>
                </div>
                <div class="row">
                  <h1><b>COMMING SOON!!!</b></h1>                  
                </div>

                </div>
          </div>

    </section>

{% endblock %}
